:root {
    --color-morado-neon: #b300ff;
    --color-morado-oscuro: #4a0066;
    /* Otras variables de color */
    --color-amarillo-neon: #ffea00;
    --color-rojo-neon: #ff0040;
    /* Agrega más variables según sea necesario */
}

body {
    margin: 0; /* Elimina el margen por defecto del cuerpo del documento */

}

#main-Nav-Color {
    background-color: #4a0066 !important;
    color: #4a0066 !important;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    top: 0;
    z-index: 1000;
}

#main-Nav-Color .collapse {
    background-color: var(--color-morado-oscuro);
}

.nav-link {
    margin: 5px;
    padding: 10px;
    font-size: 1.2em;
    color: #fff !important;
    background: linear-gradient(to right, var(--color-morado-neon), var(--color-morado-oscuro)) !important;
    border: 1px solid var(--color-morado-oscuro);
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--color-morado-neon);
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    font-family: 'Bungee', cursive;
}

.nav-link:hover {
    color: #fff;
    background: linear-gradient(to right, var(--color-morado-oscuro), var(--color-morado-neon));
}

/* Estilo para el icono de usuario */
.nav-link i {
    margin-right: 8px;
    font-size: 1.4em;
}
