#main-header{
    /*background-color: var(--color1);
    color: var(--color-blanco);*/
    background-color: grey;
    color : darkviolet;
}

#main-header p{
    margin-bottom: 10px;
}

#header .container{
    background-color: red !important;
}

